CREDENTIALS_ENCRYPTION_KEY=

DISABLE_EMAIL=true

REQUIRE_HTTPS_WEBHOOKS=false

DJANGO_SECRET_KEY=
DJANGO_SSL_REQUIRE=false

AWS_RECORDING_STORAGE_BUCKET_NAME=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1

STORAGE_PROTOCOL=s3
AWS_ENDPOINT_URL=http://minio:9000
AWS_RECORDING_STORAGE_BUCKET_NAME=attendee-recordings
AWS_AUDIO_CHUNK_STORAGE_BUCKET_NAME=attendee-audio-chunks

CUSTOM_ASYNC_TRANSCRIPTION_URL=http://host.docker.internal:9000/transcribe
CUSTOM_ASYNC_TRANSCRIPTION_TIMEOUT=120